version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: home-page
    ports:
      - "8080:8080"
    networks:
      - home-network

networks:
  home-network:
    driver: bridge
